<div th:replace="shared/header"></div>

<!-- Dados do Associado -->
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">ID</span>
    </div>
    <input type="text" th:value="${associado.idAssociado}" class="form-control" aria-describedby="inputGroup-sizing-default">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">Associado</span>
    </div>
    <input type="text" th:value="${associado.nomeAssociado}" class="form-control" aria-describedby="inputGroup-sizing-default">
</div>

<div>
    <button type="button" class="btn btn-secondary" style="margin-bottom: 20px;">
		<a style="text-decoration: none;color: white;" th:href="@{'/novoadependente/'+@{associado.idAssociado}}">Cadastrar novo dependente</a>
	</button>	
</div>


<!-- Dados dependentes -->

<div th:if="${associado.dependentes == null}">
    <h4>O associado não possui dependentes.</h4>
</div>

<div th:unless="${associado.dependentes == null}">
    <table class="table" id="keywords" style="margin-top: 60px;">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Idade</th>
                <th scope="col">Editar</th>
                <th scope="col">Deletar</th>
            </tr>
        </thead>    
        <tbody>                            
                <tr th:each="dependentes: ${listardependentes}">    
                    <th th:text="${dependentes.idDependente}" scope="row">id</th>
                    <td th:text="${dependentes.nomeDependente}">Nome</td>
                    <td th:text="${dependentes.cpfDependente}">CPF</td>
                    <td th:text="${dependentes.idade}">idade</td>
                        <!-- botão editar -->
                        <button type="button" class="btn btn-secondary" style="margin-right: 15px;">
                            <a th:href="@{'/editardependente/'+ ${dependente.idDependente}}"><i style="color: rgb(255, 255, 255);" class="fa-solid fa-pen-to-square"></i></a>
                        </button>
                    </td>
                    <td>	
                        <!-- botão deletar -->
                        <button type="button" class="btn btn-outline-danger">
                            <a th:href="@{'/deletardependente/'+ ${dependente.idDependente}}"><i style="color: black;" class="fa-solid fa-trash-can" onclick=confirmaExcluir()></i></a>
                        </button>
                    </td>                    
                </tr>	            
        </tbody>        
    </table>
</div>





<div th:replace="shared/footer"></div>