<div th:replace="shared/header"></div>

		
			
	<button type="button" class="btn btn-secondary" style="margin-bottom: 20px;">
		<a style="text-decoration: none;color: white;" th:href="@{'associado/salvar'}">Cadastrar novo associado</a>
	</button>		
					
	<h1 class="display-2" style="margin-bottom: 20px;">Cadastro Teste</h1>


	<table class="table" id="keywords" style="margin-top: 60px;">
		<thead>
			<tr>
				<th scoe="col">ID</th>
				<th scope="col">Nome</th>
				<th scope="col">CPF</th>
				<th scope="col">Renda</th>
				<th scope="col">Ativo</th>
				<th scope="col">Editar</th>
				<th scope="col">Ver Dependentes</th>
				<th scope="col">Adicionar Dependente</th>
				<th scope="col">Deletar</th>
			</tr>
		</thead>

		<tbody>

			<!-- for(Associado associado: Associado) -->
				<tr th:each="associado: ${associados}">
					<!-- Isso aqui em cima é um ForEach -->

					<th th:text="${associado.idAssociado}" scope="row">id</th>
					<td th:text="${associado.nomeAssociado}">Nome</td>
					<td th:text="${associado.cpfAssociado}">CPF</td>
					<td th:text="${associado.renda}">Renda</td>
					<!-- <td th:text="${associado.ativo}">Ativo</td> -->
					<td>
						<input th:checked="${associado.ativo}" type="checkbox" class="form-check-input" disabled>
					</td>

					<td>
						<!-- botão editar -->
						<button type="button" class="btn btn-secondary">
							<a th:href="@{'associado/editar/'+ ${associado.idAssociado}}"><i style="color: rgb(255, 255, 255);" class="fa-solid fa-pen-to-square"></i></a>
						</button>
					</td>
					<td>	
						<!-- botão mostrar dependentes -->
						<button type="button" class="btn btn-secondary">
							<a th:href="@{'listadependentes/'+${associado.idAssociado}}" style="text-decoration:none;"><i style="color: rgb(255, 255, 255);" class="fa-solid fa-list"></i></a>
						</button>
					</td>

					<td>
						<!-- botão cadastrar dependente -->
						<button type="button" class="btn btn-secondary">
							<a th:href="@{'/listadependentes/'+${associado.idAssociado}}" style="text-decoration:none;"><i style="color: rgb(255, 255, 255);" class="fa-solid fa-list"></i></a>
						</button>
					</td>


					<!-- botão deletar usuário -->
					<td>
						<button type="button" class="btn btn-danger">
							<a th:href="@{'/deletar/'+${associado.idAssociado}}" 
							   th:data-confirm-delete="|Tem certeza que quer excluir este Associado?|"
							   onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
							<i style="color: rgb(255, 255, 255);" class="fa-solid fa-trash-can"></i>
							</a>
						</button>	
					</td>
					
				</tr>	
			
		</tbody>
		
	</table>	




<div th:replace="shared/footer"></div>

