<div th:replace="shared/header"></div>

<!-- CONTEÚDO -->

<!-- <div class="input-group">
    <div class="input-group-prepend">
      <span class="input-group-text">Associado</span>
    </div>
    <input type="text" th:tex="${associado.nomeAssociado}" class="form-control" disabled>
</div> -->



<table class="table" id="keywords" style="margin-top: 60px;">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nome</th>
            <th scope="col">CPF</th>
            <th scope="col">Idade</th>
            <th scope="col">Editar</th>
            <th scope="col">Deletar</th>
        </tr>
    </thead>

    <tbody>

        <!-- for(Associado associado: Associado) -->
            <!-- para cada dependente em listardependentesdoassociado -->
            <tr th:each="dependente: ${listardependentes}">
                <!-- Isso aqui em cima é um ForEach -->

                <th th:text="${dependente.idDependente}" scope="row">id</th>
                <td th:text="${dependente.nomeDependente}">Nome</td>
                <td th:text="${dependente.cpfDependente}">CPF</td>
                <td th:text="${dependente.idade}">idade</td>
                    <!-- botão editar -->
                    <button type="button" class="btn btn-secondary" style="margin-right: 15px;">
                        <a th:href="@{'/editardependente/'+ ${dependente.idDependente}}"><i style="color: rgb(255, 255, 255);" class="fa-solid fa-pen-to-square"></i></a>
                    </button>
                </td>
                <td>	
                    <!-- botão deletar dependentes -->
                    <button type="button" class="btn btn-outline-danger">
                        <a th:href="@{'/deletardependente/'+ ${dependente.idDependente}}"><i style="color: black;" class="fa-solid fa-trash-can" onclick=confirmaExcluir()></i></a>
                    </button>
                </td>
                
            </tr>	
        
    </tbody>
    
</table>















<div th:replace="shared/footer"></div>